@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  #animated-element {
    animation: slideIn 1s ease-in-out forwards;
  }
  
  #clip-path-element {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #logo {
    animation: rotate360 4s linear infinite;
  }

.coffee-item {
    opacity: 0; 
    animation: fadeIn 1s ease forwards; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  